<mat-card>
  <mat-card-header>
    <mat-card-title>Cliente</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Nombre de la Empresa:</mat-label>
      <input matInput disabled value="{{client?.enterpriseName}}">
    </mat-form-field>
    <div class="container">
      <div class="fixed">
        <mat-form-field>
          <mat-label>Direcci&oacute;n:</mat-label>
          <input matInput disabled value="{{client?.address}}">
        </mat-form-field>
      </div>
      <div class="fixed">
        <mat-form-field>
          <mat-label>T&eacute;lefono:</mat-label>
          <input matInput disabled value="{{client?.phone}}">
        </mat-form-field>
      </div>
    </div>
    <mat-form-field>
      <mat-label>Comentarios:</mat-label>
      <input matInput disabled value="{{client?.comment}}">
    </mat-form-field>
    <mat-list role="list">
      <div mat-card-subtitle>Veh&iacute;culos:</div>
      <mat-list-item *ngFor="let vehicle of client?.vehicles" role="listitem">{{vehicle.markModel}} {{vehicle.color}}
      </mat-list-item>
    </mat-list>
    <mat-card-actions>
      <button mat-icon-button title="Editar" (click)="edit()">
        <mat-icon svgIcon="pencil"></mat-icon>
      </button>
      <button mat-icon-button title="Salir" (click)="cancel()">
        <mat-icon svgIcon="cancel"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
