<mat-card>
  <mat-card-header>
    <mat-card-title>Adicionar Factura</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Fecha:</mat-label>
        <input matInput [matDatepicker]="picker" [max]="getDate()" formControlName="date" readonly required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Firma:</mat-label>
        <input matInput type="text" formControlName="signature" autocomplete="off" required>
      </mat-form-field>
      <br>

      <mat-form-field>
        <mat-label>Del Tipo:</mat-label>
        <select matNativeControl formControlName="type" required>
          <option *ngFor="let type of types" [ngValue]="type">
            {{type.type}}
          </option>
        </select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Del Contacto:</mat-label>
        <select matNativeControl formControlName="contact" required>
          <option *ngFor="let contact of contacts" [ngValue]="contact">
            {{contact.name}}
          </option>
        </select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>De la Actividad:</mat-label>
        <select matNativeControl formControlName="activity" required>
          <option *ngFor="let activity of activitys" [ngValue]="activity">
            {{activity.name}}
          </option>
        </select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Del Empleado:</mat-label>
        <select matNativeControl formControlName="employee" required>
          <option *ngFor="let employee of employees" [ngValue]="employee">
            {{employee.name}}
          </option>
        </select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Del Cliente:</mat-label>
        <select matNativeControl formControlName="client" required>
          <option *ngFor="let client of clients" [ngValue]="client">
            {{client.enterpriseName}}
          </option>
        </select>
      </mat-form-field>
      <br>
      <mat-card-actions>
        <button mat-raised-button title="Crear">
          <mat-icon svgIcon="check"></mat-icon>
        </button>
        <button mat-raised-button title="Cancelar" (click)="cancel()">
          <mat-icon svgIcon="cancel"></mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
