.container {
  display: flex;
  height: 100px;
  align-items: center;
}

.fixed {
  width: 200px;
}

.mat-button-contact {
  background-color: antiquewhite;
  color: black;
  font-family: Algerian;
}

.mat-button-employee {
  background-color: red;
  color: white;
  font-family: Algerian;
}

.mat-button-type {
  background-color: blueviolet;
  color: white;
  font-family: Algerian;
}

.mat-button-coin {
  background-color: crimson;
  color: white;
  font-family: Algerian;
}

.mat-button-position {
  background-color: lightgreen;
  color: black;
  font-family: Algerian;
}

.mat-button-province {
  background-color: darkblue;
  color: white;
  font-family: Algerian;
}

.mat-button-client {
  background-color: bisque;
  color: black;
  font-family: Algerian;
}

.mat-button-workshop-type {
  background-color: azure;
  color: black;
  font-family: Algerian;
}

.mat-button-invoice {
  background-color: burlywood;
  color: black;
  font-family: Algerian;
}

.mat-button-description {
  background-color: chartreuse;
  color: black;
  font-family: Algerian;
}

.mat-button-vehicle {
  background-color: darkgreen;
  color: white;
  font-family: Algerian;
}

.mat-button-orderworkshop {
  background-color: black;
  color: white;
  font-family: Algerian;
}

.mat-button-workshop-state {
  background-color: coral;
  color: black;
  font-family: Algerian;
}
