.container {
  display: flex;
  height: 60px;
  align-items: center;
}

.fixed {
  width: 250px;
}

.mat-button-contact {
  background-color: darkorange;
  color: white;
  font-family: Algerian;
  width: 180px;
  min-width: initial;
}

.mat-button-employee {
  background-color: azure;
  color: black;
  font-family: Algerian;
  width: 180px;
  min-width: initial;
}

.mat-button-type {
  background-color: darkred;
  color: white;
  font-family: Algerian;
  width: 180px;
  min-width: initial;
}

.mat-button-position {
  background-color: red;
  color: white;
  font-family: Algerian;
  width: 180px;
  min-width: initial;
}

.mat-button-client {
  background-color: bisque;
  color: black;
  font-family: Algerian;
  width: 180px;
  min-width: initial;
}

.mat-button-workshop-type {
  background-color: darkmagenta;
  color: white;
  font-family: Algerian;
  width: 180px;
  min-width: initial;
}

.mat-button-invoice {
  background-color: burlywood;
  color: black;
  font-family: Algerian;
  width: 180px;
  min-width: initial;
}

.mat-button-description {
  background-color: darkgreen;
  color: white;
  font-family: Algerian;
  width: 180px;
  min-width: initial;
}

.mat-button-vehicle {
  background-color: silver;
  color: black;
  font-family: Algerian;
  width: 180px;
  min-width: initial;
}

.mat-button-orderworkshop {
  background-color: white;
  color: black;
  font-family: Algerian;
  width: 180px;
  min-width: initial;
}

.mat-button-workshop-state {
  background-color: mediumblue;
  color: white;
  font-family: Algerian;
  width: 180px;
  min-width: initial;
}
