<div class="container">
  <div class="fixed">
    <button mat-raised-button class="mat-button-contact" routerLink="/list-contact">Contacto de taller</button>
  </div>
  <div class="fixed">
    <button mat-raised-button class="mat-button-employee" routerLink="/list-employee">Empleado</button>
  </div>
  <div class="fixed">
    <button mat-raised-button class="mat-button-position" routerLink="/list-position">Cargo</button>
  </div>
  <div class="fixed">
    <button mat-raised-button class="mat-button-province" routerLink="/list-province">Provincia</button>
  </div>
  <div class="fixed">
    <button mat-raised-button class="mat-button-invoice" routerLink="/list-invoice">Factura</button>
  </div>
</div>
<div class="container">
  <div class="fixed">
    <button mat-raised-button class="mat-button-type" routerLink="/list-type">Tipo de factura</button>
  </div>
  <div class="fixed">
    <button mat-raised-button class="mat-button-coin" routerLink="/list-coin">Moneda</button>
  </div>
  <div class="fixed">
    <button mat-raised-button class="mat-button-client" routerLink="/list-client">Cliente</button>
  </div>
  <div class="fixed">
    <button mat-raised-button class="mat-button-workshop-type" routerLink="/list-order-workshop-type">Tipo Orden Taller
    </button>
  </div>
  <div class="fixed">
    <button mat-raised-button class="mat-button-workshop-state" routerLink="/list-order-workshop-state">Estado Orden
      Taller
    </button>
  </div>

</div>
<div class="container">
  <div class="fixed">
    <button mat-raised-button class="mat-button-description" routerLink="/list-description">Descripción</button>
  </div>
  <div class="fixed">
    <button mat-raised-button class="mat-button-vehicle" routerLink="/list-vehicle">Vehiculo</button>
  </div>
  <div class="fixed">
    <button mat-raised-button class="mat-button-orderworkshop" routerLink="/list-order-workshop">Orden del Taller
    </button>
  </div>
</div>

