<mat-card>
  <mat-card-header>
    <mat-card-title>Factura</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Tipo:</mat-label>
      <input matInput disabled value="{{invoice?.invoiceType?.type}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Contacto:</mat-label>
      <input matInput disabled value="{{invoice?.contact?.name}}">
    </mat-form-field>
    <br>
    <div class="container">
      <div class="fixed">
        <mat-form-field>
          <mat-label>Del Cliente:</mat-label>
          <input matInput disabled value="{{invoice?.activityClient?.enterpriseName}}">
        </mat-form-field>
      </div>
      <div class="fixed">
        <mat-form-field>
          <mat-label>Del Veh&iacute;culo:</mat-label>
          <input matInput disabled value="{{invoice?.activityVehicle?.sheet}}">
        </mat-form-field>
      </div>
    </div>
    <div class="container">
      <div class="fixed">
        <mat-form-field>
          <mat-label>No. Factura OT No:</mat-label>
          <input matInput disabled value="{{invoice?.activityReferenceOt}}">
        </mat-form-field>
      </div>
    </div>
    <div class="container">
      <div class="fixed">
        <mat-form-field>
          <mat-label>Empleado que entrega:</mat-label>
          <input matInput disabled value="{{invoice?.employeeInvoice?.name}}">
        </mat-form-field>
      </div>
    </div>
    <br>
    <mat-list role="list">
      <div mat-card-subtitle>Lista de descripciones de los trabajos:</div>
      <mat-list-item *ngFor="let description of invoice?.descriptions" role="listitem">{{description.workDescription}}
      </mat-list-item>
    </mat-list>
    <br>
    <mat-card-actions>
      <button mat-icon-button title="Editar" (click)="edit()">
        <mat-icon svgIcon="pencil"></mat-icon>
      </button>
      <button mat-icon-button title="Exportar PDF" (click)="exportPDF()">
        <mat-icon svgIcon="note"></mat-icon>
      </button>
      <button mat-icon-button title="Salir" (click)="cancel()">
        <mat-icon svgIcon="cancel"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>


