<mat-card>
  <mat-card-header>
    <mat-card-title>Contacto</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Nombre:</mat-label>
      <input matInput disabled value="{{contact?.name}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Direci&oacute;n:</mat-label>
      <input matInput disabled value="{{contact?.address}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>E-mail:</mat-label>
      <input matInput disabled value="{{contact?.email}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Tel&eacute;fono:</mat-label>
      <input matInput disabled value="{{contact?.phone}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Tcp:</mat-label>
      <input matInput disabled value="{{contact?.tcp}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Nit:</mat-label>
      <input matInput disabled value="{{contact?.nit}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>N&uacute;mero de la cuenta CUP:</mat-label>
      <input matInput disabled value="{{contact?.accountNumberCUP}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>N&uacute;mero de la cuenta CUC:</mat-label>
      <input matInput disabled value="{{contact?.accountNumberCUC}}">
    </mat-form-field>
    <br>
    <mat-card-actions>
      <button mat-icon-button title="Editar" (click)="edit()">
        <mat-icon svgIcon="pencil"></mat-icon>
      </button>
      <button mat-icon-button title="Salir" (click)="cancel()">
        <mat-icon svgIcon="cancel"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
