<mat-card>
  <mat-card-header>
    <mat-card-title>Editar Factura</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Del Tipo:</mat-label>
        <select matNativeControl formControlName="invoiceType" required>
          <option *ngFor="let type of types" [ngValue]="type" [selected]="isTypeSelect(type)">{{type.type}}</option>
        </select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Contacto del taller:</mat-label>
        <select matNativeControl formControlName="contact" required>
          <option *ngFor="let contact of contacts" [ngValue]="contact" [selected]="isContactSelect(contact)">
            {{contact.name}}
          </option>
        </select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Nombre de la actividad:</mat-label>
        <input matInput type="text" formControlName="activityName" autocomplete="off" required>
      </mat-form-field>
      <div class="container">
        <div class="fixed">
          <mat-form-field>
            <mat-label>Del Cliente:</mat-label>
            <select matNativeControl formControlName="activityClient" required>
              <option *ngFor="let client of clients" [ngValue]="client" [selected]="isClientSelect(client)"
                      (click)="getVehicles(client)">
                {{client.enterpriseName}}
              </option>
            </select>
          </mat-form-field>
        </div>
        <div class="fixed">
          <mat-form-field>
            <mat-label>Del Veh&iacute;culo:</mat-label>
            <select matNativeControl formControlName="activityVehicle" required>
              <option *ngFor="let vehicle of vehicles" [ngValue]="vehicle" [selected]="isVehicleSelect(vehicle)">
                {{vehicle.sheet}}
              </option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="container">
        <div class="fixed">
          <mat-form-field>
            <mat-label>N&uacute;mero de Factura:</mat-label>
            <input matInput type="text" formControlName="activityNuInvoice" autocomplete="off" required>
          </mat-form-field>
        </div>
        <div class="fixed">
          <mat-form-field>
            <mat-label>Referencia OT No:</mat-label>
            <input matInput type="text" formControlName="activityNuReferenceOt" autocomplete="off" required>
          </mat-form-field>
        </div>
        <div class="fixed">
          <mat-form-field>
            <mat-label>No. Factura OT No:</mat-label>
            <input matInput type="text" formControlName="activityReferenceOt" autocomplete="off" required>
          </mat-form-field>
        </div>
        <div class="fixed">

          <mat-form-field>
            <mat-label>Actividad Fecha:</mat-label>
            <input matInput [matDatepicker]="picker" [max]="getDate()" formControlName="activityDate" readonly required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="container">
        <div class="fixed">
          <mat-form-field>
            <mat-label>Empleado que entrega:</mat-label>
            <select matNativeControl formControlName="employeeInvoice" required>
              <option *ngFor="let employee of employees" [ngValue]="employee"
                      [selected]="isEmployeeInvoiceSelect(employee)">{{employee.name}}
              </option>
            </select>
          </mat-form-field>
        </div>
        <div class="fixed">
          <mat-form-field>
            <mat-label>Empleado que recibe:</mat-label>
            <select matNativeControl formControlName="employeeReceive" required>
              <option *ngFor="let employee of employees" [ngValue]="employee"
                      [selected]="isEmployeeReceiveSelect(employee)">{{employee.name}}
              </option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field>
        <mat-label>Fecha:</mat-label>
        <input matInput [matDatepicker]="datePicker" [max]="getDate()" formControlName="date" readonly required>
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-card-actions>
        <button mat-raised-button title="Actualizar">
          <mat-icon svgIcon="update"></mat-icon>
        </button>
        <button mat-raised-button title="Cancelar" (click)="cancel()">
          <mat-icon svgIcon="cancel"></mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
