<mat-card>
  <mat-card-header>
    <mat-card-title>Lista de Monedas</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="coins" class="mat-elevation-z8 mat-cell">
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="">Acci&oacute;n</th>
        <td mat-cell *matCellDef="let coin">
          <button mat-icon-button="Mostrar" (click)="show(coin)">
            <mat-icon svgIcon="page-layout-body"></mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let coin">{{coin.name}}</td>
      </ng-container>

      <ng-container matColumnDef="acronym">
        <th mat-header-cell *matHeaderCellDef>Siglas</th>
        <td mat-cell *matCellDef="let coin">{{coin.acronym}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button="Adicionar" (click)="add()" class="mat-button-coin">
      <mat-icon svgIcon="plus"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
