<mat-card>
  <mat-card-header>
    <mat-card-title>Tipo</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Tipo:</mat-label>
      <input matInput disabled value="{{type?.type}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Título:</mat-label>
      <input matInput disabled value="{{type?.title}}">
    </mat-form-field>
    <br>
    <mat-card-actions>
      <button mat-icon-button title="Editar" (click)="edit()">
        <mat-icon svgIcon="pencil"></mat-icon>
      </button>
      <button mat-icon-button title="Salir" (click)="cancel()">
        <mat-icon svgIcon="cancel"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
